body {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #d2c7da68;
    overflow-x: hidden;
} 
.bg{
    pointer-events: none; /* Agrega esta línea para evitar interacciones con el fondo */
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }
  .circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita interacciones con los círculos */
    z-index: -1; /* Asegura que los círculos estén por encima del contenido */
}
/* Estilos para los círculos */
.circle {
    position: absolute;
    border-radius: 50%;
    background-image: url(https://images.pexels.com/photos/6985045/pexels-photo-6985045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover; /* Ajusta el tamaño de la imagen al círculo */
    width: 150px; /* Ancho de los círculos */
    height: 150px; /* Altura de los círculos */
    animation: circle-animation 15s infinite alternate linear; /* Animación para cambiar el tamaño de los círculos más lentamente */
    opacity: 0.2; /* Reduzca la opacidad de los círculos */
}
/* Estilos para el encabezado y la barra de navegación */
header {
    background-color: transparent;
    padding: 20px 0;
}
/* Estilos para el logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}
/* Estilos para el menú de navegación */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu li {
    margin: 0 20px;
}
.menu i{
    background-color: rgb(146, 248, 255);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: solid 1px rgb(60, 60, 60);
    padding: 5px;
    display: inline;
}
.menu a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(60, 60, 60);
    margin-left: 5px;
}
/* Estilos para el menú hamburguesa */
.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end; /* Alinea el icono al lado derecho en pantallas pequeñas */
    justify-content: center;
    margin-right: 20px;
    pointer-events: auto;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(60, 60, 60);;
    margin: 3px 0;
}
/*Estilos Carrusel*/
.carrusel {
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos tarjetas por fila */
    gap: 20px; /* Espacio entre tarjetas */
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.tarjeta {
    width: 600px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.5s;
    cursor: pointer;
}
.tarjeta:hover {
    transform: scale(1.1);
    background-image:url(https://images.pexels.com/photos/6985045/pexels-photo-6985045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    opacity: 0.8;
}
.tarjeta h1 {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 150px; /* Elimina el margen predeterminado del encabezado */
    font-family: 'Moirai One', system-ui;
    font-size: 40px;
}
.tarjeta h2{
    text-align: center; /* Centra el texto horizontalmente */
    margin-top:-145px;
    font-weight: 500;
}
.tarjeta p{
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: -10px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* Estilos para el menú responsive */
@media screen and (max-width: 768px) {
    .menu {
        display: none; 
    }
    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
        background-color: #f6f2f29e;
        z-index: 1;
        width: 120px;
    }
    .menu.active li {
        margin: 15px 0;
    }
    .menu-icon {
        display: flex;
    }
    .carrusel{
        grid-template-columns: repeat(1, 1fr); /* Dos tarjetas por fila */
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 20px;
    }
    .tarjeta {
        flex: 0 0 calc(100% - 20px); /* Hace que las tarjetas ocupen el 100% del ancho en dispositivos móviles */
    }
}